
.container {
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 847px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1067px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1267px) {
  .container {
    width: 1170px;
  }
}



/*  Content  */

header {
  margin-bottom: 40px; 
}


table {
  text-align: justify;
}

table th,
table td {
  width: 100px;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
